@import "tailwindcss";

@theme {
    --color-button: #F5BF0F;
    --color-button-hover: #dfb220;
    --color-blue-500:  oklch(0.623 0.214 259.815);
    
}

@layer components {
    .primary-button {
        @apply bg-button hover:bg-button-hover ;
    }
     
    h1 {
        @apply  md:text-xl text-lg font-semibold;
    }
}
